
/* ********************************
init page
********************************** */
html{
  border-top: solid #000 10px;
  -webkit-font-smoothing: antialiased;
}

/* **********************************
progress bar
********************************** */
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: 0;
  height: 2px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace .pace-progress-inner {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -moz-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  -o-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  right: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 10px;
  -webkit-animation: pace-spinner 400ms linear infinite;
  -moz-animation: pace-spinner 400ms linear infinite;
  -ms-animation: pace-spinner 400ms linear infinite;
  -o-animation: pace-spinner 400ms linear infinite;
  animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes pace-spinner {
  0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes pace-spinner {
  0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes pace-spinner {
  0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}


/* **********************************
top header 
********************************** */
.top_header{

}
.top_header img.logo{
  margin: 20px 5px;
  float: left;
}
.top_header img.logo2{
  display: none;
  margin: 20px 20px;
  float: left;
}
.top_header .login_search_box{
  float: right;
  margin: 20px 0;
}
.top_header .login_search_box select,
.top_header .login_search_box input{
  margin-bottom: 5px;
}
.top_header .login_search_box span{
  margin-right: 5px;
}
.top_header .warp_top_menu_header{
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px dashed #eee;
}
.top_header .warp_top_menu_header a{
  color: #000;
}

.top_header .warp_top_menu{
  width:auto; 
  float:right; 
  margin-right:20px;
}
/* **********************************
middle part
********************************** */
.middle_part{

}
.main_menu .col-sm-4, .main_menu .col-md-3{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.main_menu .panel-title a:hover{
  text-decoration: none;
}
.main_menu .panel {
  border: none;
  border-bottom: 1px dashed #d4d4d4;
  border-radius: 0px;
}
.main_menu .panel-title a {
  float: left;
}
.main_menu .panel-title p {
  float: right;
}
.main_menu .panel-heading2{
  padding: 10px 15px;
}
.main_menu .glyphicon { margin-right:10px; }
.main_menu .panel-body { padding:0px; }
.main_menu .panel-body table tr td { padding-left: 15px }
.main_menu .panel-body .table {margin-bottom: 0px; }

          /* ------------------------------
          SUB part / main contant part
          ------------------------------ */

          .main_content{

          }
          .ad_right {
            text-align: center; 
          }
          .ad_right img{
            margin: 10px 0;
          }
          .home_catagory {
            border: 1px solid #eee;
            overflow: hidden;
            text-align: center;
            border-radius: 4px;
            margin: 0 5px 10px 0;
          }
          .home_catagory h4 {
            text-align: left;
          }
          .home_catagory h3 {
            color: #ff1674;
            font-weight: bold;
            text-align: right;
            position: absolute;
            top: 45px;
            right: 10px;
            z-index: 1;
          }
          .home_catagory h5 {
            text-decoration: line-through;
            text-align: right;
            position: absolute;
            top: 40px;
            right: 10px;
            z-index: 1;
          }
          .home_catagory p{
            border-radius: 50%;
            background: #ff1674;
            font-weight: bold;
            padding-top: 10px;
            color: white;
            width: 40px;
            height: 40px;
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
          }
          .home_catagory img:first-of-type{
            padding: 30px 0; 
          }
          .pdlg{
            position: absolute;
            bottom: 5px;
            left: 5px;
            z-index: -2;
          }

/* **********************************
footer
********************************** */
footer{
}
footer .explain {
  background-color: #d4d4d4;
  text-align: center;
  color: #747474;
  padding: 20px 0;
  margin-top: 20px;
}
footer .explain2 {
  background-color: #9b9b9b;
  text-align: center;
  color: #fff;
  padding: 20px 0;
}
footer .explain2 .avis_de_broit {
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
  line-height: 40px;
  font-style: italic;
}
footer .explain2 .avis_de_broit p {
  float: right;
}
footer .explain3 {
  background-color: #242424;
  color: #fff;
  padding: 20px 0;
  font-weight: bold;
}
footer .explain3 .payment{
  margin-top:0;
  margin-bottom:0;
  margin-right:12%;
  margin-left:12%;
}
footer .explain3 .adsilde {
  margin-top:0;
  margin-bottom:0;
  margin-right:12%;
  margin-left:12%;
  background: white;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  border-radius: 12px; 
  padding: 10px 0;
}
footer .explain3 .footer_social{
  padding-top: 20px;
}
footer .explain3 p{
  padding-bottom: 10px;
}
footer .footer_last{
  padding: 20px 0;
  background: #2e2e2e;
  text-align: center;
  font-size: 0.8em;
  color: #7d7d7d;
}


/* 
all media Q
*/
@media (min-width: 992px) {
  footer .explain2 .container .col-md-2 {
    text-align: center;
  }
  .main_content .col-md-6{
    width: 49% !important;
  }
}

@media (max-width: 992px) {
  .ad_right img {
    padding-left: 10px;
  }
}

@media (max-width: 1200px) {
  .explain2 .container .col-md-3{
    padding: 0;
  }
}
@media (max-width: 530px) {
  .login_search_box{
    width: 100%;
  }
}
@media (max-width: 530px) {
  .login_search_box{
    width: 100%;
  }
}
@media (max-width: 600px) {
  .top_header img.logo2{
    display: inline;
  }
  .top_header img.logo{
    display: none;
  }
}




.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


  .centered-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 50%;
  left: 0;
  opacity: 0.7;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.centered-btns_nav:active {
  opacity: 1.0;
  }

.centered-btns_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }

.centered-btns_nav:focus,
.transparent-btns_nav:focus,
.large-btns_nav:focus {
  outline: none;
  }

.centered-btns_tabs,
.transparent-btns_tabs,
.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
  }

.centered-btns_tabs li,
.transparent-btns_tabs li,
.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
  }

.centered-btns_tabs a,
.transparent-btns_tabs a,
.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
  }

.centered-btns_here a,
.transparent-btns_here a,
.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
  }
